@{
	ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
	One Green Way<br />
	Leaf, Kaleshire<br />
	<abbr title="Phone">P:</abbr>
	080-LOVE-KALE (080-5683-5253)
</address>

<address>
	<strong>Support:</strong> <a href="mailto:Support@example.com">Support@kale-lovers-anonymous.com</a><br />
</address>
