@{
	ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="~/images/kale01.jpg" alt="ASP.NET" class="img-responsive" />
			<div class="carousel-caption">
				<p>
					Hmmmm Kale.
				</p>
			</div>
		</div>
		<div class="item">
			<img src="~/images/kale02.jpg" alt="Package Management" class="img-responsive" />
			<div class="carousel-caption">
				<p>
					Omg, even more Kale!
				</p>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="row">
	<div class="col-md-3">
		<h2>Name</h2>
		Kale bears semblance to the Danish, Swedish and Norwegian kål and to the German Kohl (a general term for various kinds of cabbage) and Scottish Gaelic càl (or kail,[2] as in Kilmany Kail; a rabbit, salt pork and kail broth from Kilmany in Perth, Scotland). Curly kale is also known as borecole which originates from the Dutch boerenkool (farmer's cabbage).
	</div>
	<div class="col-md-3">
		<h2>Description</h2>
		Some varieties can reach a height of six or seven feet; others are compact and symmetrical and of good quality for eating. Many, however, are coarse and indigestible. Most kale are either annuals or biennials. Seeds resemble those of cabbage in size, form, and color.
	</div>
	<div class="col-md-3">
		<h2>Origins</h2>
		Until the end of the Middle Ages, kale was one of the most common green vegetables in Europe. Curly-leaved varieties of cabbage already existed along with flat-leaved varieties in Greece in the fourth century BC.[3] These forms, which were referred to by the Romans as Sabellian kale, are considered to be the ancestors of modern kales.
	</div>
	<div class="col-md-3">
		<h2>Nutritional Value</h2>
		In a 100 gram serving, raw kale provides 49 calories and is a rich source (20% or more of the Daily Value, DV) of vitamin A, vitamin C, vitamin K, vitamin B6, folate, and manganese (table, raw kale). Kale is a good source of thiamin, riboflavin, pantothenic acid, vitamin E and several dietary minerals, including iron, calcium, potassium, and phosphorus (table, raw kale).
	</div>
</div>
